/* .array-container {
    position: absolute;
    left: 150px;
    top: 100px;
    text-align: center;

}

.array-bar {
    width: 2px;
    background-color: rgb(0, 217, 255);
    display: inline-block;
    margin: 0 1px;
} */

.sec {
    height: 100%;
}

.nav-bar {
    height: 120px;
}

.array-container {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 200px;
    text-align: center;
    height: 70%;
    margin-bottom: 0%;
    padding-bottom: 0%;
    
}

.array-bar {
    width: 30px;
    background-color: rgb(0, 217, 255);
    display: inline-block;
    margin: 0 1px;
   
}

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: large;
    font-weight: bold;
    text-transform: uppercase;
}

.range-height {
    width: 100%;
}